---
title: Thanks for the Email
eleventyExcludeFromCollections: true
permalink: "| /thank-you/"
description: Thanks for getting in touch, we'll be speaking to you very soon.
---

div(class="container mx-auto flex flex-col justify-center items-center")

    h2 I'll be in touch soon.
