---
title: 😳 Page not Found
description: This is a 404 page - whatever you're looking for isn't here.
layout:  default.pug
permalink: "| 404.html"
---

div(class="container mx-auto flex flex-col justify-center items-center")
    h2.my-3 Error 404
    h1.my-5 !{ title }
    p I couldn't find what you were looking for - something must have gone wrong!
    a(href="/" class="underline my-10") Go back to the Home Page