footer.bottom-0.text-center.w-full.py-4
  small.text-gray-500 Copyright © #{ settings.name } #{ filters.year() }. Made by 
    |
    a.underline(href=settings.url, target="/contact") #{ settings.author }